@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Root Path</title>
</head>
<body>
    <h1>Test Root Path view belongs to Views</h1>
</body>
</html>
