@{
    Layout = null;
    var student = ViewBag.Student;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Header</h1>
    <div>
        @* StudentId : @student?.StudentId *@
        StudentId : @student?.Id
    </div>
    <div>
        Name : @student?.Name
    </div>
</body>
</html>