@{
    ViewData["Title"] = "Index";
}

<h2>Download FileResult</h2>
<form id="downloadForm" method="get" action="/Home/DownloadFile">
    <button type="submit">Download File</button>
</form>

<h2>Download FileStreamResult</h2>
<form id="downloadForm" method="get" action="/Home/DownloadFile2">
    <button type="submit">Download File</button>
</form>

<h2>Download VirtualFileResult</h2>
<form id="downloadForm" method="get" action="/Home/DownloadFile3">
    <button type="submit">Download File</button>
</form>

<h2>Download PhysicalFileResult</h2>
<form id="downloadForm" method="get" action="/Home/DownloadFile4">
    <button type="submit">Download File</button>
</form>