@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - About Us</title>
</head>
<body>
    <h1>Index view belongs to Views/About Us folder</h1>
</body>
</html>
